<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Laba3</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <!--<link rel="stylesheet" th:href="@{/css/styles.css}" href="../../css/styles.css"/>-->
</head>
<body>
<div><a th:href="@{/tests}">Вернуться к тесту</a></div>
<div><a th:href="@{/editQuestion?questionId={id}(id=${answer.questionId})}">Вернуться к вопросу</a></div>
<form th:action="saveEditedAnswer" th:object="${answer}" method="post">
    <div>
        <input type="hidden" th:field="*{questionId}"/>
        <input th:if="${answer.id != null}" type="hidden" th:field="*{id}"/>
        <label th:if="${answer.id == null}"> id:
            <input type="text" th:field="*{id}"/></label><br/>
        <label th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="validation-message"></label>
        <br/>

        <label> текст ответа:
            <input type="text" th:field="*{text}"/></label><br/>
        <label th:if="${#fields.hasErrors('text')}" th:errors="*{text}" class="validation-message"></label>
        <br/>
        <label> вес ответа:
            <input type="text" th:field="*{weightAnswer}"/></label><br/>
        <label th:if="${#fields.hasErrors('weightAnswer')}" th:errors="*{weightAnswer}" class="validation-message"></label>
        <br/>
        <input type="submit" value="Сохранить"/>
    <br/>
    </div>
</form>

</div>
</body>
</html>