<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Laba3</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <!--<link rel="stylesheet" th:href="@{/css/styles.css}" href="../../css/styles.css"/>-->
</head>
<body>
<div><a th:href="@{/tests}">Вернуться к тесту</a></div>
<form th:action="saveQuestionFew" th:object="${question}" method="post">
    <div>
        <input th:if="${question.id != null}" type="hidden" th:field="*{id}"/>
        <label th:if="${question.id == null}"> id:
            <input type="text" th:field="*{id}"/></label><br/>
        <label th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="validation-message"></label>
        <br/>

        <label> сложность-вопроса:
            <input type="text" th:field="*{complexity}"/></label><br/>
        <label th:if="${#fields.hasErrors('complexity')}" th:errors="*{complexity}" class="validation-message"></label>
        <br/>
        <label> время-отводимое-на-ответ:
            <input type="text" th:field="*{timeForAnswer}"/></label><br/>
        <label th:if="${#fields.hasErrors('timeForAnswer')}" th:errors="*{timeForAnswer}" class="validation-message"></label>
        <br/>
        <label> текст-вопроса:
            <input type="text" th:field="*{questionText}"/></label><br/>
        <label th:if="${#fields.hasErrors('questionText')}" th:errors="*{questionText}" class="validation-message"></label>
        <br/>
        <label> максимальный-балл:
            <input type="text" th:field="*{maxScore}"/></label><br/>
        <label th:if="${#fields.hasErrors('maxScore')}" th:errors="*{maxScore}" class="validation-message"></label>
        <br/>
        <label th:if="${question.typeOfQuestion != null}"> вид-вопроса:
            <label th:if="${question.typeOfQuestion.oneCorrectAnswer != null}"> один-правильный-ответ </label>
            <label th:if="${question.typeOfQuestion.fewCorrectAnswers != null}"> несколько-правильных-ответов </label>
            <label th:if="${question.typeOfQuestion.answersKeyAnswer != null}"> ответ-ключевое-слово </label>
        </label>
        <label th:if="${question.typeOfQuestion == null}">вид-вопроса
            <select th:field="*{textTypeOfQuestion}">
                <option value="oneCorrectAnswer">один-правильный-ответ</option>
                <option value="fewCorrectAnswers">несколько-правильных-ответов</option>
                <option value="answersKeyAnswer">ответ-ключевое-слово</option>
            </select>
        </label>
        <br/>
    </div>
    <input type="submit" value="Сохранить"/>
    <br/>
</form>
<a th:href="@{/addAnswer?questionId={id}(id=${question.id})}">Добавить ответ</a>
        <div class="table-container">
        <table  th:if="${question.typeOfQuestion != null}" class="table table-striped" id="table-custom">
            <tr id="table-header">
                <th>id</th>
                <th>текст ответа</th>
                <th>вес-ответа</th>
                <th>Редактировать</th>
                <th>Удалить</th>
            </tr>
            <tr th:each="answer : ${question.typeOfQuestion.fewCorrectAnswers.answer}">
                <td th:text="${answer.id}"></td>
                <td th:text="${answer.answerText}"></td>
                <td th:text="${answer.weightAnswer}"></td>
                <td><a th:href="@{/editAnswer?questionId={idq}&answerId={id}(idq=${question.id}, id=${answer.id})}">Редактировать</a></td>
                <td><a th:href="@{/deleteAnswer?questionId={idq}&answerId={id}(idq=${question.id}, id=${answer.id})}">Удалить</a></td>
            </tr>
        </table>
        </div>
    </div>

</div>
</body>
</html>