<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Laba3</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <!--<link rel="stylesheet" th:href="@{/css/styles.css}" href="../../css/styles.css"/>-->
</head>
<body>
<div><a th:href="@{/tests}">Вернуться к тесту</a></div>
<form th:action="saveQuestionKeyWord" th:object="${question}" method="post">
    <div>
        <input th:if="${question.id != null}" type="hidden" th:field="*{id}"/>
        <label th:if="${question.id == null}"> id:
            <input type="text" th:field="*{id}"/></label><br/>
        <label th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="validation-message"></label>
        <br/>

        <label> сложность-вопроса:
            <input type="text" th:field="*{complexity}"/></label><br/>
        <label th:if="${#fields.hasErrors('complexity')}" th:errors="*{complexity}" class="validation-message"></label>
        <br/>
        <label> время-отводимое-на-ответ:
            <input type="text" th:field="*{timeForAnswer}"/></label><br/>
        <label th:if="${#fields.hasErrors('timeForAnswer')}" th:errors="*{timeForAnswer}" class="validation-message"></label>
        <br/>
        <label> текст-вопроса:
            <input type="text" th:field="*{questionText}"/></label><br/>
        <label th:if="${#fields.hasErrors('questionText')}" th:errors="*{questionText}" class="validation-message"></label>
        <br/>
        <label> максимальный-балл:
            <input type="text" th:field="*{maxScore}"/></label><br/>
        <label th:if="${#fields.hasErrors('maxScore')}" th:errors="*{maxScore}" class="validation-message"></label>
        <br/>
        <label th:if="${question.typeOfQuestion != null}"> вид-вопроса:
            <label th:if="${question.typeOfQuestion.oneCorrectAnswer != null}"> один-правильный-ответ </label>
            <label th:if="${question.typeOfQuestion.fewCorrectAnswers != null}"> несколько-правильных-ответов </label>
            <label th:if="${question.typeOfQuestion.answersKeyAnswer != null}"> ответ-ключевое-слово </label>
        </label>
        <br/>
        <label> id-ответа:
            <input type="text" th:field="*{typeOfQuestion.answersKeyAnswer.id}"/></label><br/>
        <br/>
        <label> текст-ответа-ключевое-слово:
            <input type="text" th:field="*{typeOfQuestion.answersKeyAnswer.answerTextKeyWord}"/></label><br/>
        <br/>
        <label> вес-ответа:
            <input type="text" th:field="*{typeOfQuestion.answersKeyAnswer.weightAnswer}"/></label><br/>
        <br/>
    </div>
    <input type="submit" value="Сохранить"/>
    <br/>
</form>
</div>
</body>
</html>