<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Laba3</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <!--<link rel="stylesheet" th:href="@{/css/styles.css}" href="../../css/styles.css"/>-->
</head>
<body>
<form th:action="editTestInfo" th:object="${test}" method="post">
    <div>
        <label> id:
            <input type="text" th:field="*{id}"/></label><br/>
        <label th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="validation-message"></label>
        <br/>
        <label> тема:
            <input type="text" th:field="*{theme}"/></label><br/>
        <label th:if="${#fields.hasErrors('theme')}" th:errors="*{theme}" class="validation-message"></label>
        <br/>
        <label> количество-задаваемых-вопросов:
            <input type="text" th:field="*{numberOfQuestions}"/></label><br/>
        <label th:if="${#fields.hasErrors('numberOfQuestions')}" th:errors="*{numberOfQuestions}" class="validation-message"></label>
        <br/>
        <label> количество-вопросов-в-тесте:
            <input type="text" th:field="*{numberOfQuestionsInTest}"/></label><br/>
        <label th:if="${#fields.hasErrors('numberOfQuestionsInTest')}" th:errors="*{numberOfQuestionsInTest}" class="validation-message"></label>
        <br/>
        <label> общее-время-тестировани:
            <input type="text" th:field="*{timeForTest}"/></label><br/>
        <label th:if="${#fields.hasErrors('timeForTest')}" th:errors="*{timeForTest}" class="validation-message"></label>
        <br/>
        <label> общее-количество-баллов-за-тест:
            <input type="text" th:field="*{scoreForTest}"/></label><br/>
        <label th:if="${#fields.hasErrors('scoreForTest')}" th:errors="*{scoreForTest}" class="validation-message"></label>
        <br/>
    </div>
    <input type="submit" value="Сохранить"/>
    <br/>
</form>
<div><a th:href="@{/addQuestion}">Создать вопрос</a></div>
    <div class="table-container">
    <table class="table table-striped" id="table-custom">
        <tr id="table-header">
            <th>id</th>
            <th>сложность-вопроса</th>
            <th>время-отводимое-на-ответ</th>
            <th>текст-вопроса</th>
            <th>максимальный-балл</th>
        </tr>
    <tr th:each="question : ${test.question}">
        <td th:text="${question.id}"></td>
        <td th:text="${question.complexity}"></td>
        <td th:text="${question.timeForAnswer}"></td>
        <td th:text="${question.questionText}"></td>
        <td th:text="${question.maxScore}"></td>
        <td><a th:href="@{/editQuestion?questionId={id}(id=${question.id})}">Редактировать</a></td>
        <td><a th:href="@{/deleteQuestion?questionId={id}(id=${question.id})}">Удалить</a></td>
    </tr>
    </table>
    </div>
</body>
</html>